<div class="container-fluid xx">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 col-md-12 sidebar shadow-lg bg-white rounded-3" [class.collapsed]="isSidebarCollapsed">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-white mt-2">
          <div class="d-flex justify-content-between align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <a href="#" class="d-flex align-items-center text-decoration-none">
              
              <span class="fs-4 ms-2 text-dark" *ngIf="!isSidebarCollapsed">{{studentData?.fname}} {{studentData?.lname}}</span>
            </a>
            <button class="btn btn-primary btn-sm ms-auto d-md-none d-lg-block" (click)="toggleSidebar()">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <button class="btn btn-primary btn-sm mt-2 d-block d-lg-none" (click)="toggleSidebar()">
            <i class="fas fa-bars"></i>
          </button>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto" [class.hidden-menu]="isSidebarHidden">
            <li class="nav-item">
              <a (click)="showComponent('about-student')" class="nav-link link-dark" [class.active]="currentComponent === 'about-student'">
                <i class="fas fa-user"></i> <span *ngIf="!isSidebarCollapsed">About Student</span>
              </a>
            </li>
            <li>
              <a (click)="showComponent('student-courses')" class="nav-link link-dark" [class.active]="currentComponent === 'student-courses'">
                <i class="fas fa-book"></i> <span *ngIf="!isSidebarCollapsed">Student Courses</span>
              </a>
            </li>
            <li>
              <a (click)="showComponent('student-profile')" class="nav-link link-dark" [class.active]="currentComponent === 'student-profile'">
                <i class="fas fa-book"></i> <span *ngIf="!isSidebarCollapsed">Update Student</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Main Content -->
      <div class="col-md-9 col-12 main-content mt-5">
        <ng-container *ngIf="currentComponent === 'about-student'">
          <app-about-student></app-about-student>
        </ng-container>
        <ng-container *ngIf="currentComponent === 'student-courses'">
          <app-student-courses [studentId]="parentData"></app-student-courses>
        </ng-container>
        <ng-container *ngIf="currentComponent === 'student-profile'">
          <app-student-profile></app-student-profile>
        </ng-container>
      </div>
    </div>
  </div>
  