<!-- certificate.component.html -->
 <ng-container *ngIf="Certificate">
<div id="download" class="container pm-certificate-container ">
  <div class="outer-border"></div>
  <div class="inner-border"></div>

  <div class="pm-certificate-border col-xs-12">
    <div class="row pm-certificate-header">
      <div class="pm-certificate-title cursive col-xs-12 text-center">
        <h2>BrainBoost Certificate of Completion</h2>
      </div>
    </div>

    <div class="row pm-certificate-body">

      <div class="pm-certificate-block">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-certificate-name underline margin-0 col-xs-8 text-center">
                <span class="pm-name-text bold">{{Certificate.stdName}} </span>
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-earned col-xs-8 text-center">
                <span class="pm-earned-text padding-0 block cursive">has completed</span>
                <span class="pm-credits-text block bold sans"> {{Certificate.duration}} Hours </span>
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="col-xs-12"></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-course-title col-xs-8 text-center">
                <span class="pm-earned-text block cursive">the training course entitled</span>
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
              <div class="pm-course-title underline col-xs-8 text-center">
                <span class="pm-credits-text block bold sans">{{Certificate.name}} </span>
              </div>
              <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
            </div>
          </div>
      </div>

      <div class="col-xs-12 mb-2">
      <img src="assets/mylogo.PNG" alt="Logo" class="log"> <!-- Add the logo here -->

        <div class="row">
          <div class="pm-certificate-footer ">
              <div class="col-xs-4 pm-certified col-xs-4 text-center">
                <span class="pm-credits-text block sans"> BrainBoost </span>
                <span class="pm-empty-space block underline"></span>
                <span class="bold block">{{ Certificate.teacherName}} </span>
              </div>
              <div class="col-xs-4">
                <!-- LEAVE EMPTY -->
              </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</ng-container>
<div class="button-container">
  <button (click)="generatePDF()" class="btn btn-success mybtn">Generate PDF</button>
</div>



<!-- //////////////////////////////////////***************************///////////////////////// -->
