<footer
  class="text-center text-lg-start text-white mt-3 foo"
  style="background-color: #1c2331"
>
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-between p-4"
    style="background-color: var(--ceyan)"
  >
    <!-- Left -->
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.google.com/" target="_blank" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a
        href="www.linkedin.com/in/poulamaher"
        target="_blank"
        class="text-white me-4"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/PoulaMaher/BrainBoost-API2"
        target="_blank"
        class="text-white me-4"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="container-fluid text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">BrainBoost</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            BoostBrain is a premier E-learning platform that leverages advanced
            technology to provide an exceptional educational experience. Our
            platform features BoostBrain offers a diverse range of courses,
            accessible through a secure Paylink Gateway.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Pages</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p><a class="text-white" routerLink="home">Home</a></p>
          <p><a class="text-white" routerLink="about-us">About Us</a></p>
          <p><a class="text-white" routerLink="contact-us">Contact Us</a></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p>
            <a
              class="text-white"
              *ngIf="role == 'Student' && isLogin == true"
              [routerLink]="['StudentDetails', roleId]"
              >Your Dashboard</a
            >
            <a class="text-white" *ngIf="!isLogin" routerLink="login"
              >Login / Register</a
            >
          </p>
          <p>
            <a
              class="text-white"
              *ngIf="role == 'Student' || !isLogin"
              routerLink="courses"
              >Courses</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white">BrainBoost.com</a>
  </div>
  <!-- Copyright -->
</footer>
