<div class="container-fluid p-0">
  <div class="container-fluid p-0">
    <div class="hed d-flex align-items-center">
      <a href="#" class="btn btn-back me-3"
        ><i class="fas fa-arrow-left"></i> Back to Course</a
      >
      <h5 class="header-title">
        Implementation of Computer Network Fundamentals
      </h5>
    </div>
  </div>

  <!-- course videos section -->
  <div class="row container-fluid">
    <!-- videos list -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="container mt-3 border border-info shadow-lg rounded-3 p-3">
        <h5 class="text-dark fw-2 me-3">Course videos:</h5>

        <div class="accordion mt-3" id="videoAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingGeneral">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseGeneral"
                aria-expanded="true"
                aria-controls="collapseGeneral"
              >
                General
              </button>
            </h2>
            <div
              id="collapseGeneral"
              class="accordion-collapse collapse show"
              aria-labelledby="headingGeneral"
              data-bs-parent="#videoAccordion"
            >
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fas fa-bullhorn"></i> Announcements
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingWelcome">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseWelcome"
                aria-expanded="false"
                aria-controls="collapseWelcome"
              >
                Welcome
              </button>
            </h2>
            <div
              id="collapseWelcome"
              class="accordion-collapse collapse"
              aria-labelledby="headingWelcome"
              data-bs-parent="#videoAccordion"
            >
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fas fa-play-circle"></i> Welcome to Implementation
                    of Computer network course
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingCH01">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseCH01"
                aria-expanded="false"
                aria-controls="collapseCH01"
              >
                CH01_Prepare Your Environment
              </button>
            </h2>
            <div
              id="collapseCH01"
              class="accordion-collapse collapse"
              aria-labelledby="headingCH01"
              data-bs-parent="#videoAccordion"
            >
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fas fa-play-circle"></i> CH01_VID01_Introduction _
                    Prepare Your Environment
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-play-circle"></i> CH01_VID02_Virtualization
                    Concept
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-play-circle"></i> CH01_VID03_Create a
                    Virtual Machine (Hardware Settings)
                  </li>
                  <li class="list-group-item">
                    <i class="fas fa-play-circle"></i> CH01_VID04_Install
                    Windows 10 on VMware Workstation
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End of videos list -->

    <div class="col-12 col-md-6 col-lg-8">
      <div class="container mt-3 bg-white shadow-lg border-0 rounded-3">
        <div class="video-section bg-white border-0">
          <h5 class="text-center mb-3 p-2">
            Welcome to Implementation of Computer Network Course
          </h5>
          <div class="video-container rounded-3">
            <iframe
              src="https://www.youtube.com/embed/YOUR_VIDEO_ID"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="row d-flex justify-content-around">
            <div class="col-6 col-md-4 mb-3 mb-md-0">
              <button class="btn btn-secondary btn-responsive w-100">
                <i class="fas fa-arrow-left"></i> Previous
              </button>
            </div>
            <div class="col-6 col-md-4">
              <button class="btn btn-primary btn-responsive w-100">
                Next <i class="fas fa-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- browse video -->

    <!-- end of browse video -->
  </div>
</div>
