<div class="container">
  <h1>Course Details</h1>
  <div class="form-container">
    <div class="form-group">
      <app-auto-select-angular-material
        [class]="'col-md-12'"
        (optionSelected)="
          courseDetailsForm.controls['categoryName'].setValue($event)
        "
        [options]="categoryOptions"
        [placeHolder]="'select category'"
      ></app-auto-select-angular-material>
    </div>
    <div class="form-group">
      <app-input-angular-material
        [class]="'col-md-12'"
        (valueChanged)="
          courseDetailsForm.controls['courseName'].setValue($event)
        "
        [PlaceHolder]="'Course Name'"
      ></app-input-angular-material>
    </div>
    <div class="form-group">
      <app-input-angular-material
        [class]="'col-md-12'"
        (valueChanged)="
          courseDetailsForm.controls['courseDescription'].setValue($event)
        "
        [PlaceHolder]="'Course Description'"
      ></app-input-angular-material>
    </div>
    <div class="d-flex" style="justify-content: space-between">
      <app-auto-select-angular-material
      [class]="'col-md-12'"
        (optionSelected)="
          courseDetailsForm.controls['courseLanguage'].setValue($event)
        "
        [options]="languageOptions"
        [placeHolder]="'select language'"
      ></app-auto-select-angular-material>
      <app-input-angular-material
      [class]="'col-md-12'"
        (valueChanged)="courseDetailsForm.controls['price'].setValue($event)"
        [PlaceHolder]="'Course price'"
        [type]="'number'"
      ></app-input-angular-material>
      <app-auto-select-angular-material
      [class]="'col-md-12'"
        (optionSelected)="
          courseDetailsForm.controls['courseLevel'].setValue($event)
        "
        [options]="levelOptions"
        [placeHolder]="'select level'"
      ></app-auto-select-angular-material>
    </div>
  </div>
</div>
